/* noto-sans-hebrew-regular - hebrew */
@font-face {
    font-family: 'Noto Sans Hebrew';
    font-style: normal;
    font-weight: 400;
    src:   url('./fonts/noto-sans-hebrew-v36-hebrew-regular.woff2') format('woff2');
  }
  /* noto-sans-hebrew-500 - hebrew */
  @font-face {
    font-family: 'Noto Sans Hebrew';
    font-style: normal;
    font-weight: 500;
    src:  url('./fonts/noto-sans-hebrew-v36-hebrew-500.woff2') format('woff2');
  }
  /* noto-sans-hebrew-700 - hebrew */
  @font-face {
    font-family: 'Noto Sans Hebrew';
    font-style: normal;
    font-weight: 700;
    src:  url('./fonts/noto-sans-hebrew-v36-hebrew-700.woff2') format('woff2');
  }

/* hebo font */
  @import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
  
.hide-overflow {
    /* overflow: hidden;
    position: relative; */
    /* overflow-x: hidden;
    height: 200px; */
}
.cyrPo-card-wrapper {
    display: flex;
}
.cryPo-title-wrapper {
    text-align: center;
    margin-bottom: 40px;

}
.cryPo-custom-title{
    font-family: 'Noto Sans Hebrew';
    font-weight: bold;
    font-size: 40px;
    color: #000;
    padding-bottom: 20px;
    margin: 0;

}
.cryPo-gradient-line {
    margin: 0 auto;
    display: block;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    background: rgb(172,128,71);
    background: linear-gradient(21deg, rgba(172,128,71,1) 6%, rgba(172,128,71,0.5) 56%);

}

/* cryPo-single-card */
.cyrPo-card-wrapper {
    display: flex;
}
.ticker-wrapper {
    display: flex;
    align-items: center;
}
.cryPo-single-card {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0px 4px rgba(0, 0, 0,.25);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;

}
.cryPo-right-side {
margin-right: 20px;
}
.cryPo-small-title {
    font-family: 'Noto Sans Hebrew';
    display: block;
    font-weight: 500;
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.cryPo-subtitle {
    display: block;
    font-weight: 600;
    font-size: 24px;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.cryPo-text-wrapper {
    display: flex;
}
.cryPo-para {
    font-family: 'Heebo', sans-serif;
    font-size: 14px;
    font-weight: 400;
    display: block;
    margin-right: 10px;
}
.lite-green {
    color: #70BD7D;
}
.cryPo-sm-img {
position: relative;
width: 90px;
height: 75px;
}






/* ashogfdais */
